{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                 <a href="{% url 'home' %}">
                    <img src="{% static 'img\snake.png' %}" alt="PythonPlay" width="53px">
                    <h1>PythonPlay</h1>
                 </a>
            </div>
            <div class="nav">
                <a href="#" class="study">Мое обучение</a>
                <a href="#"><img src="{% static 'img\notification.svg' %}" alt="Уведомления"></a>
                <a href="#"><img src="{% static 'img\profile.svg' %}" alt="Личный кабинет"></a>

            </div>



        </div>
    </header>
    <main>
        {% block content %}
		{% endblock %}
    </main>
    <footer>
        <div class="footer">
            <p>КОНТАКТНАЯ ИНФОРМАЦИЯ</p>
            <div class="icons">
                <a href="#"><img src="{% static 'img\vk.svg' %}" alt="VK"></a>
                <a href="#"><img src="{% static 'img\inst.svg' %}" alt="INST"></a>
            </div>
        </div>
    </footer>
</body>
</html>