{% extends 'layout.html' %}

{% load static %}

{% block title %}Уровеь 0{% endblock %}
{% block css%}{% static 'level.css' %}{% endblock %}

{% block content %}


    <main id="main_content">
        <div id="background">
            <img src="{% static 'img\line2.svg' %}" alt="line">
            <h1>Уровень 0</h1>
            <h2>Знакомство и введение</h2>
            <img src="{% static 'img\line2.svg' %}" alt="line">
        </div>
        <svg class="dark" id="right_snake" width="244" height="219" viewBox="0 0 244 219" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="yzyk" d="M84.6616 126.595V126.595C74.6393 115.75 57.6763 115.22 46.9959 125.417L45.762 126.595V126.595C35.5143 135.667 19.4353 132.723 12.9404 120.676V120.676M12.9404 120.676L5.03895 97M12.9404 120.676L1.99991 132.514" stroke="#7B2997" stroke-width="4"/>
            <path id="telo" d="M244 0H171C115.772 0 71 44.7715 71 100V119C71 174.228 115.772 219 171 219H244V0Z" fill="#B89DC1"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 178.88 37)" fill="#3C2B4C" class="ellipse-animation"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 180 154)" fill="#3C2B4C" class="ellipse-animation"/>
        </svg>
        <svg class="light" id="right_snake" width="244" height="219" viewBox="0 0 244 219" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="yzyk" d="M84.6616 126.595V126.595C74.6393 115.75 57.6763 115.22 46.9959 125.417L45.762 126.595V126.595C35.5143 135.667 19.4353 132.723 12.9404 120.676V120.676M12.9404 120.676L5.03895 97M12.9404 120.676L1.99991 132.514" stroke="#4A1757" stroke-width="4"/>
            <path id="telo" d="M244 0H171C115.772 0 71 44.7715 71 100V119C71 174.228 115.772 219 171 219H244V0Z" fill="#5D5274"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 178.88 37)" fill="#B89DC1" class="ellipse-animation"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 180 154)" fill="#B89DC1" class="ellipse-animation"/>
        </svg>
        <img id="fox" src="{% static 'img\fox.svg' %}" alt="fox">
        <div class="level_info">
            <p>
                Привет, игрок! Добро пожаловать в удивительный мир леса, где среди высокой травы и игры лучей света скрывается тайный уголок, дом забавной змейки по имени Йорик (бедный...).
                <strong>Йора — это настоящая героиня, любознательная и дружелюбная</strong>, с множеством друзей среди других обитателей леса. Но сегодня особый день - день рождения её лучшего друга, молодого лисёнка по имени Лео. И как раз в этот особый день <strong>Зара решила пригласить тебя в своё увлекательное приключение!</strong> Вместе с ней ты будешь шаг за шагом идти к цели - <strong>придумать подарок для Лео и подарить его ему в течение всех уровней.</strong>
            </p>
            <a><img id="meme" src="{% static 'img\meme0.png' %}" alt="meme" >
                <p class="level_text">
                    А ещё, в процессе игры, ты будешь <strong>изучать Python</strong> - высокоуровневый язык программирования, который был разработан <strong>Гвидо ван Россумом</strong> и впервые выпущен в 1991 году. Ван Россум хотел создать язык, который был бы <strong>простым в изучении и читаемым, а также обладал бы мощными возможностями.</strong> Имя языка вдохновлено популярным британским комедийным шоу "<strong>Летающий цирк Монти Пайтона</strong>".
                </p>
                <p class="level_text" style="text-align: right;">
                    <em>Удачи в этом увлекательном путешествии!</em>
                </p>
            </a>
        </div>
                    <form action="{% url 'level1' %}" target="_self">
                <button class="bnt">Дальше</button>
            </form>

    </main>


   <script src="{% static 'js/dark_mode.js' %}"></script>
{% endblock %}