{% extends 'layout.html' %}

{% load static %}

{% block title %}Уровень 3{% endblock %}
{% block css%}{% static 'level.css' %}{% endblock %}
{% block editor %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src/ace.css" type="text/css" media="screen" charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src/ace.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript">
        var csrftoken = getCookie('csrftoken');

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}

{% block content %}

    <main id="main_content">
        <div id="background">
            <img src="{% static 'img\line2.svg' %}" alt="line">
            <h1>Уровень 3</h1>
            <h2>Операции над типами данных</h2>
            <img src="{% static 'img\line2.svg' %}" alt="line">
        </div>
        <svg class="dark" id="right_snake" width="244" height="219" viewBox="0 0 244 219" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="yzyk" d="M84.6616 126.595V126.595C74.6393 115.75 57.6763 115.22 46.9959 125.417L45.762 126.595V126.595C35.5143 135.667 19.4353 132.723 12.9404 120.676V120.676M12.9404 120.676L5.03895 97M12.9404 120.676L1.99991 132.514" stroke="#7B2997" stroke-width="4"/>
            <path id="telo" d="M244 0H171C115.772 0 71 44.7715 71 100V119C71 174.228 115.772 219 171 219H244V0Z" fill="#B89DC1"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 178.88 37)" fill="#3C2B4C" class="ellipse-animation"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 180 154)" fill="#3C2B4C" class="ellipse-animation"/>
        </svg>
        <svg class="light" id="right_snake" width="244" height="219" viewBox="0 0 244 219" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="yzyk" d="M84.6616 126.595V126.595C74.6393 115.75 57.6763 115.22 46.9959 125.417L45.762 126.595V126.595C35.5143 135.667 19.4353 132.723 12.9404 120.676V120.676M12.9404 120.676L5.03895 97M12.9404 120.676L1.99991 132.514" stroke="#4A1757" stroke-width="4"/>
            <path id="telo" d="M244 0H171C115.772 0 71 44.7715 71 100V119C71 174.228 115.772 219 171 219H244V0Z" fill="#5D5274"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 178.88 37)" fill="#B89DC1" class="ellipse-animation"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 180 154)" fill="#B89DC1" class="ellipse-animation"/>
        </svg>
        <div class="level_info">
    <p><strong>Арифметические операции</strong></p>
    <p><strong>Сложение '+': </strong>складывает два числа или объединяет две строки</p>
    <p><code>result = 5 + 3</code></p>

    <p><strong>Вычитание '-': </strong>вычитает одно число из другого</p>
    <p><code>result = 8 - 2</code></p>

    <p><strong>Умножение '*': </strong>умножает два числа или повторяет строку определенное количество раз</p>
    <p><code>result = 4 * 3</code></p>

    <p><strong>Деление '/': </strong>делит одно число на другое</p>
    <p><code>result = 10 / 2</code></p>

    <p><strong>Целочисленное деление '//': </strong>делит одно число на другое и возвращает целую часть результата (без остатка)</p>
    <p><code>result = 10 // 3</code></p>

    <p><strong>Остаток от деления '%': </strong>возвращает остаток от деления одного числа на другое</p>
    <p><code>result = 10 % 3</code></p>

    <p><strong>Операции сравнения</strong></p>
    <p><strong>Равно '==': </strong>проверяет, равны ли два значения</p>
    <p><code>result = (5 == 5)</code></p>

    <p><strong>Не равно '!=': </strong>проверяет, не равны ли два значения</p>
    <p><code>result = (5 != 3)</code></p>

    <p><strong>Больше '>': </strong>проверяет, является ли первое значение больше</p>
    <p><code>result = (7 > 3)</code></p>

    <p><strong>Меньше '<': </strong>проверяет, является ли первое значение меньше</p>
    <p><code>result = (2 < 5)</code></p>

    <p><strong>Больше или равно '>=': </strong>проверяет, является ли первое значение больше или равно второму</p>
    <p><code>result = (6 >= 6)</code></p>

    <p><strong>Меньше или равно '<=': </strong>проверяет, является ли первое значение меньше или равно второму</p>
    <p><code>result = (4 <= 3)</code></p>

    <p><strong>Логические операции</strong></p>
    <p><strong>'and': </strong>возвращает True, если оба выражения истинны</p>
    <p><code>result = (True and False)</code></p>

    <p><strong>'or': </strong>возвращает True, если хотя бы одно из выражений истинно</p>
    <p><code>result = (True or False)</code></p>

    <p><strong>'not': </strong>инвертирует значение выражения</p>
    <p><code>result = not True)</code></p>
        </div>
<div class="code">
    <div class="exercise">
        <div id="story">
            <p>Помоги Йорику вспомнить сколько лет исполняется Лео, он помнит, что Лео родился в 2014 году. Напиши программу на языке Python которая вычтет из нынешнего года 2014 и выведет результат на экран.</p>
            <h3>Задачи</h3>
            <ul>
                <li>Создай переменную и запроси у пользователя нынешний год</li>
                <li>Вычти из этой переменной 2014</li>
                <li>Выведи результат операции на экран</li>
            </ul>
        </div>
    </div>

    <div id="editorContainer">
        <div id="editor"></div>
        <button class='check' onclick="checkOutput()">✅︎</button>
        <button class='runcode' onclick="runCode()">&#9205;</button>

        <div id="inputArea">
            <textarea id="input"/></textarea>
        </div>
        <div id="outputArea">
            <h3>Output:</h3>
            <pre id="output"></pre>
        </div>
    </div>
</div>

        <script src="{% static 'js/editor.js' %}"></script>

        <form action="{% url 'level4' %}" target="_self">
            <button class="btn" id="nextButton" style="display: none;">Дальше</button>
        </form>

    </main>

<script>
    // Функция для проверки вывода пользователя
function checkOutput() {
    var userOutput = document.getElementById("output").innerText; // Получаем вывод пользователя из элемента страницы

    var currentYear = new Date().getFullYear();
    var leoBirthYear = 2014;
    var expectedOutput = (currentYear - leoBirthYear);


    if (userOutput.trim() === expectedOutput.toString()) {
        alert("Ответ верный!");
        document.getElementById("nextButton").style.display = "block";
        document.querySelector("footer").style.marginTop = "0"; // Поднимаем футер
    } else {
        alert("Ответ неверный. Попробуйте еще раз.");
        document.getElementById("nextButton").style.display = "none";
        document.querySelector("footer").style.marginTop = "100px"; // Опускаем футер
    }
}

</script>

{% endblock %}