{% extends 'layout.html' %}

{% load static %}

{% block title %}Уровень 20{% endblock %}
{% block css%}{% static 'level.css' %}{% endblock %}
{% block editor %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src/ace.css" type="text/css" media="screen" charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src/ace.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript">
        var csrftoken = getCookie('csrftoken');

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}

{% block content %}

    <main id="main_content">
        <div id="background">
            <img src="{% static 'img\line2.svg' %}" alt="line">
            <h1>Уровень 20</h1>
            <h2>Обработка ошибок. Исключения.</h2>
            <img src="{% static 'img\line2.svg' %}" alt="line">
        </div>
        <svg class="dark" id="right_snake" width="244" height="219" viewBox="0 0 244 219" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="yzyk" d="M84.6616 126.595V126.595C74.6393 115.75 57.6763 115.22 46.9959 125.417L45.762 126.595V126.595C35.5143 135.667 19.4353 132.723 12.9404 120.676V120.676M12.9404 120.676L5.03895 97M12.9404 120.676L1.99991 132.514" stroke="#7B2997" stroke-width="4"/>
            <path id="telo" d="M244 0H171C115.772 0 71 44.7715 71 100V119C71 174.228 115.772 219 171 219H244V0Z" fill="#B89DC1"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 178.88 37)" fill="#3C2B4C" class="ellipse-animation"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 180 154)" fill="#3C2B4C" class="ellipse-animation"/>
        </svg>
        <svg class="light" id="right_snake" width="244" height="219" viewBox="0 0 244 219" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="yzyk" d="M84.6616 126.595V126.595C74.6393 115.75 57.6763 115.22 46.9959 125.417L45.762 126.595V126.595C35.5143 135.667 19.4353 132.723 12.9404 120.676V120.676M12.9404 120.676L5.03895 97M12.9404 120.676L1.99991 132.514" stroke="#4A1757" stroke-width="4"/>
            <path id="telo" d="M244 0H171C115.772 0 71 44.7715 71 100V119C71 174.228 115.772 219 171 219H244V0Z" fill="#5D5274"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 178.88 37)" fill="#B89DC1" class="ellipse-animation"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 180 154)" fill="#B89DC1" class="ellipse-animation"/>
        </svg>
        <div class="level_info">
    <p>Обработка исключений в Python осуществляется с помощью конструкции <strong>try-except</strong>, которая позволяет программе обрабатывать исключительные ситуации, возникающие во время выполнения кода. Кроме того, существует также конструкция <strong>finally</strong>, которая выполняется всегда, независимо от того, возникло исключение или нет.</p>
    <p>Пример использования конструкции try-except:</p>
    <p><code>try:<br></code>
    <code style="padding-left: 30px;">result = 10 / 0  # Попытка деления на ноль<br></code>
    <code>except ZeroDivisionError:<br></code>
    <code style="padding-left: 30px;">print("Ошибка: деление на ноль!")<br></code>
    </p>

    <p>Пример использования конструкции try-except-finally:</p>
    <p><code>try:<br></code>
    <code style="padding-left: 30px;">result = 10 / 0  # Попытка деления на ноль<br></code>
    <code>except ZeroDivisionError:<br></code>
    <code style="padding-left: 30px;">print("Ошибка: деление на ноль!")<br></code>
    <code>finally:<br></code>
    <code style="padding-left: 30px;">print("Блок finally выполнен всегда")<br></code>
    </p>

</div>
<div class="code">
    <div class="exercise">
        <div id="story">
            <p>Лео решил испечь торт к своему дню рождения, но в процессе приготовления может возникнуть множество ошибок. Помоги Йорику написать программу, которая будет обрабатывать возможные ошибки при приготовлении торта.</p>
            <h3>Задачи</h3>
            <ul>
                <li>Создай программу, которая выполняет следующие шаги:</li>
                <li>Делит количество ингредиентов на порции (возможная ошибка деления на ноль).</li>
                <li>Принимает ввод от пользователя для количества порций (возможная ошибка ввода).</li>
                <li>Используй конструкции try-except для обработки ошибок.</li>
                <li>Используй конструкцию try-except-finally для выполнения кода, который должен выполниться в любом случае (например, сообщение о завершении программы).</li>
            </ul>
        </div>
    </div>

    <div id="editorContainer">
        <div id="editor"></div>
        <button class='check' onclick="checkCode()">✅︎</button>
        <button class='runcode' onclick="runCode()">&#9205;</button>

        <div id="inputArea">
            <textarea id="input"/></textarea>
        </div>
        <div id="outputArea">
            <h3>Output:</h3>
            <pre id="output"></pre>
        </div>
    </div>
</div>

        <script src="{% static 'js/editor.js' %}"></script>
        <script>
function checkCode() {
    var code = editor.getValue();

    $.ajax({
        type: "POST",
        url: "/check_code/", // URL вашего Django представления для проверки кода
        headers: {
            'X-CSRFToken': csrftoken // Включаем CSRF токен в заголовок запроса
        },
        data: {
            code: code,
            language: 'python' // Фиксируем язык на Python
        },
        success: function(data) {
            if (data.success) {
                alert("Все типы данных определены правильно!");
            } else {
                alert("Ошибка в определении типов данных: " + data.error);
            }
        },
        error: function(xhr, errmsg, err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
}

</script>

        <form action="#" target="_self">
            <button class="bnt">Дальше</button>
        </form>

    </main>



<script src="{% static 'js/dark_mode.js' %}"></script>
{% endblock %}