{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/level.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.41.0/theme/shadowfox.min.css" />


    <script src="https://cdn.jsdelivr.net/pyodide/v0.18.1/full/pyodide.js"></script>



    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
        <div class="header">
            <div class="logo">
                 <a href="{% url 'home' %}">
                    <img src="{% static 'img\snake.png' %}" alt="PythonPlay" width="59px">
                    <h1>PythonPlay</h1>
                 </a>
            </div>
            <div class="nav">
                <div class="person">
                    <div class="person_about">
                        <p>Петрова Анна</p>
                        <div>
                            <p>7 уровень</p>
                            <img src="{% static 'img\score.svg' %}" alt="score">
                            <p> x 105</p>
                        </div>
                    </div>
                    <img src="{% static 'img\person_photo.png' %}" alt="person" width="50px" style="padding-left: 10px" >
                </div>
                <a href="#" id="open"><img src="{% static 'img/notification.svg' %}" alt="Уведомления"></a>
                <dialog id="notification-dialog">
                    <div id="head">
                        <h6>Уведомления</h6>
                    </div>
                    <div class="notification-content">
                        <img src="{% static 'img\system_img.gif' %}" class="sys-image">
                        <p class="notification_text_have">Странник, ты сделал уже <strong>0%</strong> заданий. Поднажми и всё получится!</p>
                        <img src="{% static 'img\cart_img.svg' %}" class="cart-image">
                    </div>
                    <div class="time">
                    <p class="notification-time">Вчера 12:24</p>
                    </div>
                </dialog>


            </div>
        </div>
    </header>
    <main id="main_content">
        <div id="backgroung">
            <img src="{% static 'img\line2.svg' %}" alt="line">
            <h1>Уровень 1</h1>
            <h2>Ввод и вывод</h2>
            <img src="{% static 'img\line2.svg' %}" alt="line">
        </div>
        <svg id="right_snake" width="244" height="219" viewBox="0 0 244 219" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="yzyk" d="M84.6616 126.595V126.595C74.6393 115.75 57.6763 115.22 46.9959 125.417L45.762 126.595V126.595C35.5143 135.667 19.4353 132.723 12.9404 120.676V120.676M12.9404 120.676L5.03895 97M12.9404 120.676L1.99991 132.514" stroke="#7B2997" stroke-width="4"/>
            <path d="M244 0H171C115.772 0 71 44.7715 71 100V119C71 174.228 115.772 219 171 219H244V0Z" fill="#B89DC1"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 178.88 37)" fill="#3C2B4C" class="ellipse-animation"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 180 154)" fill="#3C2B4C" class="ellipse-animation"/>
        </svg>
        <div class="level_info">
            <p>
                <strong>Функция input()</strong> - это инструмент, который позволяет вашей программе взаимодействовать с пользователем. Когда программа доходит до строки с <strong>input()</strong>, она приостанавливает свое выполнение и <strong>ожидает</strong>, пока пользователь введет данные с клавиатуры. После этого введенная пользователем строка <strong>возвращается</strong> в качестве результата выполнения функции <strong>input()</strong>.
            </p>
            <p>Пример использования:</p>
        </div>

        <div id = "code1" >
            <section class="input">
                <div class="header_code">
                    <button type="button"  onclick="evaluatePython()">
                    <svg width="23" height="27" viewBox="0 0 23 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23 13.5L0.500001 26.4904L0.500002 0.509618L23 13.5Z" fill="#463A4E"/>
                    </svg>
                </button>
                    <p>Код</p>
                </div>
                <div>
                <textarea id="code" name="code">
                </textarea>
                </div>
            </section>

            <section class="output">
                <div class="header_code">
                    <p>Результат</p>
                </div>
                <div>
                    <textarea id="output" name="output" >
                    </textarea>
                </div>
            </section>
        </div>

        <div class="level_info">
            <p>
                В этом примере пользователю предлагается ввести свое имя. После ввода имени и нажатия Enter программа приветствует пользователя по имени, используя функцию print().
            </p>
        </div>

        <div id = "code2"></div>
        <form action="#" target="_self">
            <button class="bnt">Дальше</button>
        </form>

    </main>


    <footer>
        <img src="{% static 'img\line.svg' %}" alt="line">
        <div class="footer">
            <div class="contact">
                <p>ПОЧТА</p>
                <p style="color: #FFFFFF">email@tpu.ru</p>
            </div>
            <div class="contact">
                <p>СОЦ-СЕТИ</p>
                <div class="icons">
                    <a href="#"><img src="{% static 'img\vk.svg' %}" alt="VK" width="25px"></a>
                    <a href="#"><img src="{% static 'img\inst.svg' %}" alt="INST" width="25px"></a>
                </div>
            </div>
            <div class="contact">
                <p>ТЕЛЕФОН</p>
                <p style="color: #FFFFFF">0000-0000-0</p>
            </div>
        </div>
        <img src="{% static 'img\line.svg' %}" alt="line">
    </footer>
<script>
const openBtn = document.getElementById('open');
const dialog = document.getElementById('notification-dialog');

openBtn.addEventListener('click', () => {
    dialog.showModal();
    positionDialog();
});

document.getElementById('close').addEventListener('click', () => {
    dialog.close();
});

function positionDialog() {
    const openRect = openBtn.getBoundingClientRect();
    const dialogRect = dialog.getBoundingClientRect();

    // Вычисляем новые координаты для позиционирования диалогового окна
    const top = openRect.top - 300;
    const left = openRect.left - dialogRect.width;

    // Устанавливаем новые координаты для диалогового окна
    dialog.style.top = top + 'px';
    dialog.style.left = left + 'px';
}


    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"
        integrity="sha512-XMlgZzPyVXf1I/wbGnofk1Hfdx+zAWyZjh6c21yGo/k1zNC4Ve6xcQnTDTCHrjFGsOrVicJsBURLYktVEu/8vQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/python/python.min.js"
        integrity="sha512-/mavDpedrvPG/0Grj2Ughxte/fsm42ZmZWWpHz1jCbzd5ECv8CB7PomGtw0NAnhHmE/lkDFkRMupjoohbKNA1Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{% static 'js/code_ex.js' %}"></script>
</body>
</html>