{% extends 'layout.html' %}

{% load static %}

{% block title %}Уровень 4{% endblock %}
{% block css%}{% static 'level.css' %}{% endblock %}
{% block editor %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src/ace.css" type="text/css" media="screen" charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src/ace.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript">
        var csrftoken = getCookie('csrftoken');

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}

{% block content %}

    <main id="main_content">
        <div id="background">
            <img src="{% static 'img\line2.svg' %}" alt="line">
            <h1>Уровень 4</h1>
            <h2>Условные операторы. if</h2>
            <img src="{% static 'img\line2.svg' %}" alt="line">
        </div>
        <svg class="dark" id="right_snake" width="244" height="219" viewBox="0 0 244 219" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="yzyk" d="M84.6616 126.595V126.595C74.6393 115.75 57.6763 115.22 46.9959 125.417L45.762 126.595V126.595C35.5143 135.667 19.4353 132.723 12.9404 120.676V120.676M12.9404 120.676L5.03895 97M12.9404 120.676L1.99991 132.514" stroke="#7B2997" stroke-width="4"/>
            <path id="telo" d="M244 0H171C115.772 0 71 44.7715 71 100V119C71 174.228 115.772 219 171 219H244V0Z" fill="#B89DC1"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 178.88 37)" fill="#3C2B4C" class="ellipse-animation"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 180 154)" fill="#3C2B4C" class="ellipse-animation"/>
        </svg>
        <svg class="light" id="right_snake" width="244" height="219" viewBox="0 0 244 219" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="yzyk" d="M84.6616 126.595V126.595C74.6393 115.75 57.6763 115.22 46.9959 125.417L45.762 126.595V126.595C35.5143 135.667 19.4353 132.723 12.9404 120.676V120.676M12.9404 120.676L5.03895 97M12.9404 120.676L1.99991 132.514" stroke="#4A1757" stroke-width="4"/>
            <path id="telo" d="M244 0H171C115.772 0 71 44.7715 71 100V119C71 174.228 115.772 219 171 219H244V0Z" fill="#5D5274"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 178.88 37)" fill="#B89DC1" class="ellipse-animation"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 180 154)" fill="#B89DC1" class="ellipse-animation"/>
        </svg>
        <div class="level_info">

    <p><strong>Управляющие конструкции </strong>— это основа любой программы, которая позволяет разработчику определённым образом управлять ходом выполнения кода.</p>
    <p>Оператор <strong>if </strong>в Python используется для выполнения блока кода, если определенное условие истинно. Это позволяет программе принимать решения на основе значений переменных или результатов выражений.</p>
    <p><code>x = 10<br></code>
       <code>if x > 5:<br></code>
        <code style="padding-left: 30px;">print("x больше 5")<br></code>
    </p>
        </div>

<div class="code">
    <div class="exercise">
        <div id="story">
            <p>Йорик должен придти к Лео на день рождение в 13.00, но у него есть несколько планов на этот день. Напиши программу на Python, которая выведет число во сколько Йорик будет свободен.</p>
            <h3>Задачи</h3>
            <ul>
                <li>Создай переменную «task1» и запиши в нее значение 9 (Йорик проснулся в 9)</li>
                <li>Создай переменную «task2» и запиши в нее значение 1 (Йорик умывался и кушал)</li>
                <li>Создай переменную «task3» и запиши в нее значение 2 (Йорик пошел по магазинам выбирать подарок Лео)</li>
                <li>Напиши программу, которая сложит все задачи Йорика, сравнит их с 13 и выведет результат сложения</li>
            </ul>
        </div>
    </div>

    <div id="editorContainer">
        <div id="editor"></div>
        <button class='check' onclick="checkOutput()">✅︎</button>
        <button class='runcode' onclick="runCode()">&#9205;</button>

        <div id="inputArea">
            <textarea id="input"/></textarea>
        </div>
        <div id="outputArea">
            <h3>Output:</h3>
            <pre id="output"></pre>
        </div>
    </div>
</div>

        <script src="{% static 'js/editor.js' %}"></script>

        <form action="{% url 'level5' %}" target="_self">
            <button class="btn" id="nextButton" style="display: none;">Дальше</button>
        </form>

    </main>

<script>
        function checkOutput() {
            var userOutput = document.getElementById("output").innerText; // Получаем вывод пользователя из элемента страницы

            var expectedOutput = 12; // Ожидаемое значение времени, когда Йорик будет свободен

            if (userOutput.trim() === expectedOutput.toString()) {
                alert("Ответ верный!");
                if (expectedOutput <= 13) {
                    alert("Йорик успеет к Лео на день рождения!");
                } else {
                    alert("Йорик не успеет к Лео на день рождения.");
                }
                document.getElementById("nextButton").style.display = "block";
                document.querySelector("footer").style.marginTop = "0"; // Поднимаем футер
            } else {
                alert("Ответ неверный. Попробуйте еще раз.");
                document.getElementById("nextButton").style.display = "none";
                document.querySelector("footer").style.marginTop = "100px"; // Опускаем футер
            }
        }
    </script>

{% endblock %}