{% extends 'layout.html' %}

{% load static %}

{% block title %}Уровень 1{% endblock %}
{% block css%}{% static 'level.css' %}{% endblock %}
{% block editor %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src/ace.css" type="text/css" media="screen" charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.4.12/src/ace.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript">
        var csrftoken = getCookie('csrftoken');

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}

{% block content %}

    <main id="main_content">
        <div id="background">
            <img src="{% static 'img\line2.svg' %}" alt="line">
            <h1>Уровень 1</h1>
            <h2>Ввод и вывод</h2>
            <img src="{% static 'img\line2.svg' %}" alt="line">
        </div>
        <svg class="dark" id="right_snake" width="244" height="219" viewBox="0 0 244 219" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="yzyk" d="M84.6616 126.595V126.595C74.6393 115.75 57.6763 115.22 46.9959 125.417L45.762 126.595V126.595C35.5143 135.667 19.4353 132.723 12.9404 120.676V120.676M12.9404 120.676L5.03895 97M12.9404 120.676L1.99991 132.514" stroke="#7B2997" stroke-width="4"/>
            <path id="telo" d="M244 0H171C115.772 0 71 44.7715 71 100V119C71 174.228 115.772 219 171 219H244V0Z" fill="#B89DC1"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 178.88 37)" fill="#3C2B4C" class="ellipse-animation"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 180 154)" fill="#3C2B4C" class="ellipse-animation"/>
        </svg>
        <svg class="light" id="right_snake" width="244" height="219" viewBox="0 0 244 219" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="yzyk" d="M84.6616 126.595V126.595C74.6393 115.75 57.6763 115.22 46.9959 125.417L45.762 126.595V126.595C35.5143 135.667 19.4353 132.723 12.9404 120.676V120.676M12.9404 120.676L5.03895 97M12.9404 120.676L1.99991 132.514" stroke="#4A1757" stroke-width="4"/>
            <path id="telo" d="M244 0H171C115.772 0 71 44.7715 71 100V119C71 174.228 115.772 219 171 219H244V0Z" fill="#5D5274"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 178.88 37)" fill="#B89DC1" class="ellipse-animation"/>
            <ellipse cx="14.56" cy="14" rx="14.56" ry="14" transform="matrix(-1 0 0 1 180 154)" fill="#B89DC1" class="ellipse-animation"/>
        </svg>
        <div class="level_info">
            <p>
                <strong>Функция <code>input()</code></strong> - это инструмент, который позволяет вашей программе взаимодействовать с пользователем. Когда программа доходит до строки с <strong><code>input()</code></strong>, она приостанавливает свое выполнение и <strong>ожидает</strong>, пока пользователь введет данные с клавиатуры. После этого введенная пользователем строка <strong>возвращается</strong> в качестве результата выполнения функции <strong>input()</strong>.
            </p>
            <p>В строках можно применять управляющие символы, начинающиеся с символа «бэкслеш» <code>\</code>. Например:</p>
            <ul style="list-style-type: none;">
                <li><code>\n</code> — переход на новую строку;</li>
                <li><code>\t</code> — табуляция;</li>
                <li><code>\r</code> — возврат каретки в начало строки;</li>
                <li><code>\b</code> — возврат каретки на один символ.</li>
            </ul>
            <p><strong>Табуляция:</strong> В Python табуляция играет важную роль в обозначении блоков кода. В отличие от некоторых языков, где используются фигурные скобки <code>{}</code>, в Python блоки кода определяются отступами. Обычно используется четыре пробела для одного уровня отступа, хотя важно поддерживать однородность в выборе стиля.</p>

            <p><strong>Комментирование:</strong> Комментарии в Python начинаются с символа <code>#</code>. Все, что идет после <code>#</code>, до конца строки, игнорируется интерпретатором. Комментарии используются для пояснения кода, делая его более понятным для других разработчиков или для самого себя в будущем.</p>

            <p>
                В этом примере пользователю предлагается ввести свое имя. После ввода имени и нажатия <code>&#9205</code> программа приветствует пользователя по имени, используя функцию print().
            </p>
        </div>
<div class="code">
    <div class="exercise">
        <div id="story">
            <p>Лисенок Лео отмечает свой день рождения, и его друг, змейка Йора, хочет написать ему поздравление. Напишите программу на Python, которая поможет Йоре отправить личное сообщение Лео, используя функции input() и print().</p>
            <h3>Задачи</h3>
            <ul>
                <li>Лео поприветствовал своего друга: “Привет, Йорик!” Выведи это сообщение на экран.</li>
                <li>Йора поприветствовала своего друга и поздравила его. (Для этой задачи используй input() и print())</li>
                <li>Лисенок очень благодарен Йоре, что она не забыла о его Дне Рождения. Лео сердечно поблагодарил ее. Используй изученный ранее материал, путник, и напиши код. </li>
            </ul>
        </div>
    </div>

    <div id="editorContainer">
        <div id="editor">name=input()
print('Hello,', name +'!')
        </div>
        <button class='runcode' onclick="runCode()">&#9205;</button>

        <div id="inputArea">
            <textarea id="input"/></textarea>
        </div>
        <div id="outputArea">
            <h3>Output:</h3>
            <pre id="output"></pre>
        </div>
    </div>
</div>




    <script>
        // Initialize Ace code editor
var editor = ace.edit("editor");
editor.setTheme("ace/theme/dracula");
editor.getSession().setMode("ace/mode/python");
editor.setFontSize("16px");

function getUserId(callback) {
    $.ajax({
        url: '/get_userid/',
        type: 'GET',
        success: function(response) {
            callback(response.userid);
        },
        error: function(xhr, errmsg, err) {
            console.error(xhr.status + ": " + xhr.responseText);
        }
    });
}

function taskCompleted(taskId) {
    // Показ диалогового окна об успешности
    alert("Задание выполнено успешно!");

    // Получение user_id и отправка данных на сервер

    getUserId(function(userId) {

        $.ajax({
            url: '/complete_task/',
            type: 'POST',
            data: {
                'task_id': taskId,
                'user_id': userId,
            },
        });
    });
}

// Function to run the code in the Ace editor
function runCode() {
    var code = editor.getValue();
    var input = document.getElementById("input").value; // Get input value

    // Make an AJAX request to the Django server for code execution
    $.ajax({
        type: "POST",
        url: "/run_code/", // URL of your Django view
        headers: {
            'X-CSRFToken': csrftoken // Include CSRF token in the request header
        },
        data: {
            code: code,
            input: input, // Include input data
            language: 'python' // Fixed to Python
        },
        success: function(data) {
            if (data.result) {
                document.getElementById("output").innerText = data.result;
                taskCompleted(1)
                document.getElementById("nextButton").style.display = "block";
                document.querySelector("footer").style.marginTop = "0"; // Поднимаем футер
            } else {
                document.getElementById("output").innerText = data.error;
                document.getElementById("nextButton").style.display = "none";
                document.querySelector("footer").style.marginTop = "100px"; // Опускаем футер
            }
        },
        error: function() {
            document.getElementById("output").innerText = "Error communicating with the server.";
        }
    });
}

    </script>

<form action="{% url 'level2' %}" target="_self">
    <button class="btn" id="nextButton" style="display: none;">Дальше</button>
</form>

    </main>


{% endblock %}