body {

	padding: 0;
	margin: 0;
  	font-family: 'Montserrat', regular;
  	font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p, a {
	padding: 0;
	margin: 0;
}

/*Header*/
.header{
    height: 59px;
    margin: 35px 150px;
    display: flex;
    justify-content: space-between;
}

.logo a{
    display: flex;
    align-items: center;
    height: 53px;
    text-decoration: none;
}

.logo a h1{
    color: #4B0AB6;
    font-weight: 500;
    font-size: 20px;
}

.nav{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav .study{
    width: 180px;
    height: 100%;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    background-color: #F8F5FB;
    border: 1px solid #5E5560;
	display: flex;
	justify-content: center;
	align-items: center;
}

.person{
    display: flex;
    margin-right: 10px;
}

.person_about{
    width: 170px;
    height: auto;
    padding-left: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.person_about p{
    float: right;
    font-weight: 600;
    font-size: 16px;
}

.person_about div{
    display: flex;
    justify-content: space-around;
}

.person_about div p{
    color: #4B4352;
    font-weight: 600;
    font-size: 18px;
}

/*Footer*/
footer{
    height: 309px;
    background-color: rgba(81, 76, 93, 0.81);
    opacity: 1;
    color: #D2D2D2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer{
    width: 541px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact{
    height: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer .icons{
    height: 25px;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#backgroung{
    height: 220px;
    background-color: #B89DC1;
    opacity: 1;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.bnt {
    margin: auto;
    margin-top: 6%;
    margin-bottom: 2%;
    display: block;
    font-family: 'Montserrat', regular;
    font-size: 130%;
    color: white;
    width: 12%;
    padding: 1%;
    height: auto;
    background-color: #644C8B;
    border-color: #644C8B;
    border-radius: 50px;

}
.bnt:hover {
    background-color: white;
    color: #4B0AB6;
}
.level_info{
/* top | right | bottom | left */
    padding: 5% 15% 0 15%;
    font-weight: 500;
    font-size: 24px;
    text-align: justify;
}

#meme{
    float:left; /* Выравниваем по левому краю */
    margin: 2% 2% 2% 0;
    width: 30%;
    max-width: 365px;
}

.level_text{
    padding-top: 2%;
}

#right_snake{
    float: right;
    margin-top: 10%;
}

@media (max-width: 1670px) {
    #right_snake {
        width: 10%; /* Желаемая ширина для экранов 1670px и меньше */
        height: auto; /* Сохранение пропорций */
    }
    #backgroung{
    height: 150px;
    background-color: #B89DC1;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
}
@keyframes scaleCircle {
    0% {
        rx: 9.1171;

    }
    50% {
        rx: 1;

    }
    100% {
        rx: 9.1171;

    }
}

.ellipse-animation {
    animation: scaleCircle 2s ease-in-out infinite alternate;
}

#yzyk {
    animation: rotateLanguage 3s ease-in-out infinite alternate;
}



@keyframes rotateLanguage {
    0% {
        transform: rotate(0deg);
        transform: translateY(0);
        transform: translateX(0);
    }
    50% {
        transform: rotate(5deg);
        transform: translateX(-20px);
        transform: translateY(10px);
    }
    100% {
        transform: rotate(-5deg);
        transform: translateY(-40px);

    }
}

#main_content {
    position: relative; /* Установка относительного позиционирования для элемента main */
}

#fox {
    margin: 0;
    padding: 0;
    position: absolute; /* Установка абсолютного позиционирования для изображения лисы */
    bottom: -7%; /* Расположение лисы внизу относительно элемента main */
    left: 0; /* Расположение лисы справа */
}
